@import url('https://fonts.googleapis.com/css2?family=family=Inter:wght@200;400;600;800&display=swap');

.theme {
    --font: 'Inter', sans-serif;
    --title-font: 'Inter', sans-serif;
}

.theme-light {
    --cbg: rgb(255, 255, 255);
    --cfaint: white;
    --ccontrast: black;
    --ctext: black;
    --caccent: rgb(0, 0, 0);
    --caccent-faint: rgb(107, 240, 151);
    --ccontrast-shadow: rgba(0, 0, 0, var(--sopac));
    --caccent-shadow: rgba(0, 0, 0, var(--sopac));
}

.theme-dark {
    --cbg: #2a2a2e;
    --cfaint: #38383d;
    --ccontrast: rgb(12, 12, 13);
    --ctext: #d7d7db;
    --caccent: rgb(12, 12, 13);
    --caccent-faint: #9400ff;
    --ccontrast-shadow: rgba(12, 12, 13, var(--sopac));
    --caccent-shadow: rgba(12, 12, 13, var(--sopac));
}